/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* ======================
MARGIN, PADDING, Z-INDEX
   ======================*/

/* Margin */
.margin-top-small-negative{
	margin-top: -2.0rem;
}

.margin-top-medium-negative{
	margin-top: -5.5rem;
}

.margin-top-high-negative{
	margin-top: -10.5rem;
}

.margin-top-small{
	margin-top: 2.5rem;
}

.margin-top-medium{
	margin-top: 5.5rem;
}

.margin-top-high{
	margin-top: 10.5rem;
}

/* PADDING */
.padding-top-small-negative{
	margin-top: -2.0rem;
}

.padding-top-medium-negative{
	margin-top: -5.5rem;
}

.padding-top-high-negative{
	margin-top: -10.5rem;
}

.padding-top-small{
	margin-top: 2.0rem;
}

.padding-top-medium{
	margin-top: 5.5rem;
}

.padding-top-high{
	margin-top: 10.5rem;
}


/* Z-index */
.raised-1{
	z-index:1;
}

.raised-2{
	z-index:2;
}

.raised-3{
	z-index:3;
}

.raised-4{
	z-index:4;
}


/* ======================
POSTIONS
   ======================*/
.vertical-align{
	vertical-align: middle;
}

/* ======================
FONT
   ======================*/
.uppercase {
    text-transform: uppercase;
}

/* ======================
HEADER
   ======================*/

.bg-photo{
	background-image: url(../img/working.jpg);
	background-repeat: no-repeat;
	background-size: cover;
/*	  background-position-x: 50%;
  background-position-y: 30%;*/
}
.active{
	border-bottom: solid 2px white;
}
nav ul li:hover, nav ul li.active {
        background-color: rgba(0, 0, 0, 0);
         }
header{
	min-height: 
}

/* ======================
UPCOMING EVENTS	
   ======================*/

.upcoming-event:hover{
  -webkit-filter: opacity(.85);
  filter: opacity(.85);
}