<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta name="description" content="At Philos, we strive to contribute to building tomorrow's software by enabling our partners and our community to stay on the bleeding edge.">
  <title>Philos | About Us - JavaScript & AngularJS Training & Bootcamp in Brussels - JavaScript Focused Programming Courses</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="alternate" hreflang="en" href="https://www.philos.io/" />
  <link rel="alternate" hreflang="fr" href="https://www.philos.io/" />
  <link rel="alternate" hreflang="nl" href="https://www.philos.io/" />
  <!-- FONT AWESOME  -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="img/logo/philos-no-bg-32x32.png">
</head>
<body>
  <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M2474H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2474H');</script>
<!-- End Google Tag Manager -->
  <header class="philos-teal-bg about-height-3">
    <nav class="transparent z-depth-0" role="navigation">
      <div class="nav-wrapper">
        <a id="logo-container" href="/" class="brand-logo hide-on-med-and-down"><img class="responsive-img border-top-vsmall padding-left-vsmall" src="img/logo/philos_logo-m.png" alt="logo-philos"></a> <!-- HIDDEN MED + SMALL -->
        <ul class="right hide-on-med-and-down">       <!-- HIDDEN MED + SMALL -->
          <li><a class="uppercase" href="/program">PROGRAM</a></li>
            <li><a class="uppercase active" href="/about">ABOUT</a></li>
            <li><a class="uppercase" href="/faq">FAQ</a></li>
            <li><a class="uppercase" href="/events">COMMUNITY</a></li>            
            <li><a href="https://admission.philos.io" class="btn margin-right-vsmall uppercase">APPLY NOW</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a class="uppercase" href="/">HOME</a></li>
            <li><a class="uppercase" href="/program">PROGRAM</a></li>
            <li><a class="uppercase active" href="/about">ABOUT</a></li>
            <li><a class="uppercase" href="/faq">FAQ</a></li>
            <li><a class="uppercase" href="/events">COMMUNITY</a></li>
        </ul>
        <div class="top-nav hide-on-large-only hide-on-small-only"> <!-- HIDDEN SMALL + Large -->
          <div class="top border-top-vsmall">
            <a href="/" data-activates="nav-mobile" class="brand-logo"><img class="responsive-img" src="img/logo/philos_logo-s.png" alt="logo-philos"></a>
            <a href="/" data-activates="nav-mobile" class="button-collapse margin-left-vsmall"><i class="fa fa-bars fa-lg"></i></a>
          </div>
          <div class="mid-top border-top-vsmall">
            <a href="/" class="btn right margin-right-vsmall ">APPLY NOW</a>
          </div>
        </div>
        <div class="top-nav hide-on-med-and-up"> <!-- HIDDEN MED + LARGE -->
          <div class="row no-margin-bottom">
            <div class="top border-top-vsmall col s12">
              <a href="/" data-activates="nav-mobile" class="brand-logo"><img class="responsive-img" src="img/logo/philos_logo-s.png" alt="logo-philos"></a>
              <a href="/" data-activates="nav-mobile" class="button-collapse margin-left-vsmall"><i class="fa fa-bars fa-lg"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="mid-top col s12">
              <a href="https://admission.philos.io" class="btn width-100 margin-right-vsmall ">APPLY NOW</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class=" padding-bottom-small padding-top-medium">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3 class="center white-text">Choose a training plan that will keep your business at the top</h3>
          <!-- <h6 class="philos-orange center uppercase">MAKE SURE YOUR COMPANY'S PRODUCTS STAY IN TOP SHAPE</h6> -->
        </div>
      </div>
      <div class="row">
        <div class="col s12">
            <p class="text-normal-plus-1 white-text center">Empower your teams with mentoring/insights from experts. Stay relevant in the business world
<!--             <br/>
            Stay relevant in the business world. </p> -->
        </div>        
      </div>
      <div class="row">
        <div class="col s12 center">
          <p>
            <a class="btn white-text active" href="">PROFESSIONAL</a>
            <a href="" class="btn white-text">ENTERPRISE</a>
          </p>
        </div>        
      </div>
    </div>
    </section>

  </header>

    <section class="grey lighten-4">
        <div class="container">
              <div class="row padding-top-small">
                <div class="col s12">
                  <h4>Code-fit </h4>   
                  <h5>Get monthly training sessions from JavaScript experts. Make the most of the leading technologies. Stay current. Get your company in the best possible shape.</h5>   
                </div>
              </div>

              <div class="row padding-top-small padding-bottom-small no-margin-bottom">
                <div class="col s12 m6">
                    <div class="card z-depth-1">
                      <div class="card-content philos-grey-bg white-text">
                        <p class="text-normal-plus center philos-teal uppercase">COLLABORATIVE HACKER</p>
                        <p class="center italic">Practical training & open source hacking</p> 
                        <br/>
                        <p class="center" style="font-size: 4.4rem;">39 € <span class="text-normal-minus"></span></p>
                        <p class="center italic">Per person, per month billed annually</p>
                        <p class="center italic">Or 52€ month to month.</p>  
                        <br/>
                        <p class="text-normal-plus center">
                          <a href="https://admission.philos.io"><span class="btn uppercase">LEARN MORE</span></a>
                        </p>
                        <br/>
                      </div>                          
                      <div class="card-content center">                            
                        <p class="text-normal-plus"><span class="bold-4">1</span> HackJam</p>
                        <p>3 hours of hacking and pair Programming.</p>
                        <hr>
                        <p class="text-normal-plus"><span class="bold-4">3</span> Open source sessions</p>
                        <p>Hackers' gathering, working on open source projects</p>
<!--                             <hr>
                        <p class="text-normal-plus"><span class="bold-4">15%</span> discount on "A la Carte" training</p> -->
                        <br/> 
                        <p class="text-normal-plus center bold-4">Events take place at Philos Lab</p>                            
                      </div>                        
                    </div>                      
                </div>
                <div class="col s12 m6">
                    <div class="card z-depth-1">
                      <div class="card-content philos-grey-bg white-text">
                        <p class="text-normal-plus center philos-teal uppercase">TRAINING BUNDLE</p>
                        <p class="center italic">Bundle of 5 workshops >1000€ in value</p>  
                        <br/>
                        <p class="center" style="font-size: 4.4rem;">479 € <span class="text-normal-plus"></span></p>
                        <p class="center italic">Per person, billed in one time</p>
                        <p class="center italic">Or 192€ per month during 3 months</p>  
                        <br/>
                        <p class="text-normal-plus center">
                          <a href="https://admission.philos.io"><span class="btn uppercase">LEARN MORE</span></a>
                        </p>
                        <br/>
                      </div>                          
                      <div class="card-content center">                            
                        <p class="text-normal-plus">5 Half Day Training</p>
                        <p>Small groups, hands-on workshop</p>
                        <hr>
                        <p class="text-normal-plus">&nbsp;</p>
                        <p class="text-normal-plus">More than 1000€ in value<!-- Each half day training is valued at 215€ --></p>
                        <br/> 
                        <p class="text-normal-plus center bold-4">Workshops take place at Philos Lab</p>                            
                      </div>                        
                    </div>      
                </div>
              </div>

              <div class="row no-margin padding-bottom-medium">
                <div class="col s12 center">
                  <p  class="center text-normal-plus">Need more? Take a look below at the available add ons or <a href="/contact" class="philos-teal">contact us</a> directly.
                  <br/>
                  We'll be happy to see how we could tailor something to your needs.</p>
                </div>
              </div>

              <div class="row padding-top-small padding-bottom-small no-margin-bottom">
                <div class="col s12 m6">
                    <div class="card z-depth-1">
                      <div class="card-content philos-grey-bg white-text">
                        <p class="text-normal-plus center philos-teal uppercase">LUNCH HACK</p>
                        <p class="center italic">Concise training during lunch break</p>  
                        <br/>                        
                        <p class="center" style="font-size: 4.4rem;"><span class="text-normal-minus"></span> 89 €</p>
                        <p class="center italic">Per person per month, billed annually</p>
                        <p class="center italic">Or 115€ month to month.</p>  
                        <br/>
                        <p class="text-normal-plus center">
                          <a href="https://admission.philos.io"><span class="btn uppercase">LEARN MORE</span></a>
                        </p>
                        <br/>
                      </div>                          
                      <div class="card-content center">                            
                        <p class="text-normal-plus"><span class="bold-4">1</span> Lunch Hack</p>
                        <p>1 hour of theory, 2h of coding</p>
                        <hr>
                        <p class="text-normal-plus">&nbsp;</p>
                        <p class="text-normal-plus">Minimum 10 participants</p>
                        <br/> 
                        <p class="text-normal-plus center bold-4">Training take place at your company</p>                            
                      </div>                        
                    </div>                      
                </div>
                <div class="col s12 m6">
                    <div class="card z-depth-1">
                      <div class="card-content philos-grey-bg white-text">
                        <p class="text-normal-plus center philos-teal uppercase">Expert Day</p>
                        <p class="center italic">Tailored training & practical implementation</p>   
                        <br/>
                        <p class="center" style="font-size: 4.4rem;"><span class="text-normal-minus"></span> 249 €</p>
                        <p class="center italic">Per person per month, billed annually</p>
                        <p class="center italic">Or 329€ month to month</p>  
                        <br/>
                        <p class="text-normal-plus center">
                          <a href="https://admission.philos.io"><span class="btn uppercase">LEARN MORE</span></a>
                        </p>
                        <br/>
                      </div>                          
                      <div class="card-content center">                            
                        <p class="text-normal-plus">1 Expert Day</p>
                        <p>Training & mentoring on your own projects</p>
                        <hr>
                        <p class="text-normal-plus">&nbsp;</p>
                        <p class="text-normal-plus">Minimum 5 participants</p>
                        <br/> 
                        <p class="text-normal-plus center bold-4">Workshops take place @Philos Lab</p>                            
                      </div>                        
                    </div>      
                </div>
              </div>
<!-- 
              <div class="row">
                <div class="col s12 m6">
                  <p class="uppercase bold-4">Need more?</p>
                  <p>Your company has a lot of developers and you would like something tailored to your needs? Just <a href="/contact" class="philos-teal">contact us</a>.
                  <br/>
                  For punctual workshops, take a look at our <a href="#alacarte" class="philos-teal">"A la carte"</a> offer.</p>
                </div>
                <div class="col s12 m6">
                  <p class="uppercase bold-4">Where do you operate?</p>
                  <p>Everywhere in Europe. Most of our customers are located between Amsterdam and Paris. Our HQ is in Brussels. Depending on the distance, there might be additional traveling costs.</p>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m6">
                  <p class=" uppercase bold-4">Can I upgrade my plan?</p>
                  <p>Sure. Just give us a one month notice period.</p>
                </div>
                <div class="col s12 m6">
                  <p class=" uppercase bold-4">What if I want to cancel?</p>
                  <p>You can cancel your subscription at any time. Your subscription will remain active until the current time period is finished.</p>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m6">
                  <p class=" uppercase bold-4">What's a HackJam?</p>
                  <p>HackJams are hands-on events. It starts with 30 minutes introduction to the concept we will cover. Followed by 2 hours of pair programming on practical examples. It ends with 30 minutes debating and demoing the solutions teams came up with.</p>
                </div>
                <div class="col s12 m6">
                  <p class=" uppercase bold-4">Can two half day training be combined in a 1 day training?</p>
                  <p>Sure. Four half days can be combined in a 2 day training as well.</p>
                </div>
              </div>

              <div class="row">
                <div class="col s12 m6">
                  <p class=" uppercase bold-4">Can two half day training be combined in a 1 day training?</p>
                  <p>Sure. Four half days can be combined in a 2 day training as well.</p>
                </div>
                <div class="col s12 m6">
                  <p class=" uppercase bold-4">Can two half day training be combined in a 1 day training?</p>
                  <p>Sure. Four half days can be combined in a 2 day training as well.</p>
                </div>
              </div>

              <div class="row no-margin">
              <p>Naturally, half day training can be combined at your convenience + not always the same people in training from one month to another. Only rule = 10 people max + in-company conference = conference that we oganize in your company, where you can invite external participants or not, and we tackle the hot topic that your company is working on. Format = 2h. + hackjam = 4h event where we sit together with your teams (max 40 ppl) to get our hands dirty with the leading technologies. On the menu: pair programming & practical examples</p>
              </div> -->

           

<!--        <div class="row padding-top-vsmall padding-bottom-medium no-margin-bottom">
                <div class="col s12 m4">
                        <div class="card z-depth-1">
                          <div class="card-content philos-grey-bg white-text">
                            <p class="text-normal-plus center philos-teal uppercase">STAY IN THE GAME</p> 
                            <br/>
                            <h1 class="center">39 € <span class="text-normal-plus">/mo</span></h1>
                            <p class="center italic">Keep your company current with concise monthly training for your teams</p>
                            <br/>
                            <p class="text-normal-plus center">
                              <a href="https://admission.philos.io"><span class="btn">GET A FREE DEMO</span></a>
                            </p>
                          </div>                          
                          <div class="card-content">
                            <p class="text-normal-plus center"><span class="bold-4">1</span> HackJam</p>
                            <hr>
                            <p class="text-normal-plus center"><span class="bold-4">7%</span> discount on additional à la carte workshop</p> 
                          </div>                        
                        </div>                      
                </div>
                <div class="col s12 m4">
                        <div class="card z-depth-2">
                          <div class="card-content philos-grey-bg white-text">
                            <p class="text-normal-plus center philos-teal uppercase">BE PERFORMANT</p> 
                            <br/>
                            <h1 class="center">89 € <span class="text-normal-plus">/mo</span></h1> 
                            <p class="center italic">Keep your company current with concise monthly training for your teams</p>
                            <br/>
                            <p class="text-normal-plus center">
                              <a href="https://admission.philos.io"><span class="btn">GET A FREE DEMO</span></a>
                            </p>
                          </div>                                                
                          <div class="card-content center">
                            <p class="text-normal-plus"><span class="bold-4">2</span> half day training</p>
                            <hr>
                            <p class="text-normal-plus"><span class="bold-4">10%</span> discount on additional à la carte workshop</p>
                            <hr>
                            <p class="text-normal-plus"><span class="philos-teal bold-4" >BONUS:</span></p>
                            <p class="text-normal-plus"><span class="bold-4">1</span> HackJam per year</p> 
                          </div>                        
                        </div>    
                </div>
                <div class="col s12 m4">
                        <div class="card z-depth-1">
                          <div class="card-content philos-grey-bg white-text">
                            <p class="text-normal-plus center philos-teal uppercase">LEAD THE WAY</p> 
                            <br/>
                            <h1 class="center">1590 € <span class="text-normal-plus">/mo</span></h1> 
                            <p class="center italic">Keep your company current with concise monthly training for your teams</p>
                            <br/>
                            <p class="text-normal-plus center">
                              <a href="https://admission.philos.io"><span class="btn">GET A FREE DEMO</span></a>
                            </p>
                          </div>                          
                          <div class="card-content">
                            <p class="text-normal-plus center"><span class="bold-4">4</span> half day training</p>
                            <hr>
                            <p class="text-normal-plus center"><span class="bold-4">13%</span> discount on additional à la carte workshop</p>
                            <hr>
                            <p class="text-normal-plus center"><span class="philos-teal bold-4">BONUS:</span>
                            <p class="text-normal-plus center"><span class="bold-4">1</span> on-site conference</p>
                            <p class="text-normal-plus center"><span class="bold-4">2</span> HackJams (per year)</p>
                          </div>                        
                        </div>     
                </div>
              </div>
 -->
      </div>
    </section>

    <section id="alacarte" class="blue-grey darken-3 padding-bottom-small padding-top-small">
      <div class="container">
        <div class="row">
          <h5 class="white-text center uppercase">AVAILABLE ADD ONS</h5> 
        </div>
      </div>
    </section>  

    <section>
      <div class="container">
        <div class="row padding-bottom-medium no-margin-bottom">
                <div class="col s12 m4 margin-top-medium">
                  <div class="card-height-2 center">
                        <div class="">
                            <img src="img/icons/a-la-carte.png" class="responsive-img" alt="Workshops">
                        </div>
                        <div>
                            <p class="uppercase text-normal-plus ">A la carte training</p>
                        </div>
                        <div>
                            <p class="left grey-text text-darken-1">
                                Choose the workshops that will increase you productivity and improve your performance. 
                            </p>
                        </div>
                  </div>
                  <div class="center">
                    <a href="" class="btn">EXPLORE WORKSHOPS</a>
                  </div>
                </div>
                <div class="col s12 m4 margin-top-medium">
                  <div class="card-height-2 center">
                        <div class="">
                            <img src="img/icons/bootcamp.png" class="responsive-img" alt="Conferences">
                        </div>

                        <div>
                            <p class="uppercase text-normal-plus ">Immersive bootcamp</p>
                        </div>
                        <div>
                            <p class="left grey-text text-darken-1">
                                6-day intensive program to get up to speed JavaScript and AngularJS rapidly
                            </p>
                        </div>
                  </div>
                  <div class="center">
                    <a href="" class="btn">VIEW PROGRAM</a>
                  </div>
                </div>
                <div class="col s12 m4 margin-top-medium">
                  <div class="card-height-2 center">
                        <div class="">
                            <img src="img/icons/conference.png" class="responsive-img" alt="Philos LAB">
                        </div>
                        <div>
                            <p class="uppercase text-normal-plus ">On-site events</p>
                        </div>
                        <div>
                            <p class="left grey-text text-darken-1">
                                Organize in-company events. Public or private, practical or high level.
                            </p>
                        </div>
                  </div>
                  <div class="center">
                    <a href="" class="btn">LEARN MORE</a>
                  </div>
          </div>
      </div>
    </section>

    <footer class="page-footer blue-grey darken-3">
      <div class="container">
        <div class="row white-text">
          <div class="col s12 m6 l4">
              <ul>
                <li class="bold-4">Philos is a JavaScript Lab. We are on a mission to get you on the bleeding edge.</li>
                <br/>
                <li>4 Rue des pères blancs</li>
                <li>1040 Brussels</li>
                <br/>
                <li><a href="/contact"><span class="philos-orange">Contact us <i class="fa fa-paper-plane-o"></i></span></a></li>
              </ul>
          </div>
          <div class="col s6 m3 l2">
            <p class="bold-4">Company</p>
            <ul>
              <li><a class="white-text" href="/program">Program</a></li>
              <li><a class="white-text" href="/about">About</a></li>
              <li><a class="white-text" href="/faq">FAQ</a></li>
              <li><a class="white-text" href="/events">Community</a></li>
              <li><a class="white-text" href="/crack-the-code">Crack The Code</a></li>
              <li><a class="white-text" href="https://admission.philos.io" class="btn margin-right-vsmall">Apply</a></li>
            </ul>
          </div>
          <div class="col s6 m3 l2">
            <p class="bold-4">Connect</p>
            <ul>
              <li><a class="white-text" href="https://medium.com/@philos.io" target="_blank"><i class="fa fa-medium"></i> Blog</a></li>
              <li><a class="white-text" href="https://www.facebook.com/philos.io" target="_blank"><i class="fa fa-facebook-official"></i> Philos.io</a></li>
              <li><a class="white-text" href="https://twitter.com/philos_io" target="_blank"><i class="fa fa-twitter"></i> @philos_io</a></li>
              <li><a class="white-text" href="http://www.slideshare.net/max-philos/" target="_blank"><i class="fa fa-slideshare"></i> Philos.io</a></li>
            </ul>
          </div>
          <div class="col s12 m12 hide-on-large-only"> <!-- HIDDEN LARGE -->
          <hr >
          </div>
          <div class="col s12 m12 l4 center-on-med-and-down">
            <p class="bold-4">Stay informed</p>
            <ul>
              <li>Get updates on the events, ideas and lessons learned from Philos</li>
              <li>
                  <!-- <form class="col s8 offset-s2 m8 offset-m2 hide-on-large-only">
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label class="white-text" for="email" data-error="wrong" data-success="right" >Email</label>
                        <input class="btn width-100" id="btnSuscribeSmall" type="submit" value="Stay Informed">
                      </div>
                    </div>
                  </form> -->

                  <div id="mc_embed_signup" class="col s8 offset-s2 m8 offset-m2 hide-on-large-only">
                    <form action="//philos.us10.list-manage.com/subscribe/post?u=2d1281127eb89708bad0ebec3&amp;id=af7d02db95" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                      
                    
                      <div class="input-field col s12">
                        <input type="email" value="" name="EMAIL" class="required validate" id="mce-EMAIL">
                        <label for="mce-EMAIL" class="white-text">Email</label>
                      </div>
                      <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;"><input type="text" name="b_2d1281127eb89708bad0ebec3_af7d02db95" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Stay Informed" name="subscribe" id="mc-embedded-subscribe" class="btn width-100"></div>
                      </div>
                    </form>
                  </div>

                  <div id="mc_embed_signup" class="col l12 hide-on-med-and-down">
                    <form action="//philos.us10.list-manage.com/subscribe/post?u=2d1281127eb89708bad0ebec3&amp;id=af7d02db95" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                      
                    
                      <div class="input-field col s12">
                        <input type="email" value="" name="EMAIL" class="required validate" id="mce-EMAIL">
                        <label for="mce-EMAIL" class="white-text">Email</label>
                      </div>
                      <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;"><input type="text" name="b_2d1281127eb89708bad0ebec3_af7d02db95" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Stay Informed" name="subscribe" id="mc-embedded-subscribe" class="btn width-100"></div>
                      </div>
                    </form>
                  </div>
                  
              </li>
            </ul>
          </div>
      </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="row hide-on-small-only"> <!-- HIDDEN SMALL -->
            <div class="col m6">
              <span class="left">© Philos Lab 2016</span>
            </div>
            <div class="col m6 right">
              <span class="right">Crafted in Belgium with <span class="unicode">&#9829;</span> and <span class="unicode">&#127851;</span></span>
            </div>
          </div>
          <div class="row hide-on-med-and-up"> <!-- HIDDEN MED + LARGE -->
            <div class="col s12 text-normal-minus">
              <span>© Philos Lab 2016 -</span> 
              <span>Crafted in Belgium with <span class="unicode">&#9829;</span> and <span class="unicode">&#127851;</span></span>
            </div>
          </div>
        </div>
      </div>
    </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script src="js/init.js"></script>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->

  </body>
</html>
